#innerContainer {
    height: 100%;
    width: 90%;
    padding: 0;
    margin: 0;
    display: flexbox;
    overflow-y: auto;
     
}

#mainContainer {
    display: flex;
    
}




#searchThesis{
    display: block;
    max-width:50%;
    float: right;
    margin: 1rem 1rem 1rem 1rem;
}




#title {
    /* height: 10vh;
    width: 32.5vw; */
    font-size: small;
    resize: both;
    /* margin-bottom: 5vh; */

}


#description {
    /* float: right;
    height: 30vh;
    width: 20vw; */
    font-size: small;
    resize: both;
    
}

textarea.form-control{
    z-index: 1;
  background-color: #eaeaea74;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #000000;
  font-size: 18px;

  outline: none;

  box-shadow: rgba(50, 50, 93, 0.048) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.158) 0px 18px 36px -18px inset;

  transition: 0.1s ease-out;
}

#fileInput{
    margin-bottom: 1.5rem;
}




#removeFile{
    display:none;
}

textarea.form-control:focus, input.form-control:focus {

    border: 3px solid aqua;
    box-shadow: none;
}

