#innerContainer {
    height: 100%;
    width: 90%;
    padding: 0;

    display: flexbox;
    overflow-y: auto;
     
}

#mainContainer {
    display: flex;
    
}




#searchThesis{
    display: block;
    max-width:50%;
    float: right;
    margin: 1rem 1rem 1rem 1rem;
}




#title {
    /* height: 10vh;
    width: 32.5vw; */
    font-size: small;
    resize: both;
    /* margin-bottom: 5vh; */

}


#description {
    /* float: right;
    height: 30vh;
    width: 20vw; */
    font-size: small;
    resize: both;
    
}





#removeFile{
    display:none;
}


