#innerContainer {
    height: 100%;
    width: 90%;
    padding: 0;
    margin: 0;
    display: flexbox
}

#mainContainer {
    display: flex;
}



.optionButton {
    background-color: #0a6bff;
    border-radius: 4px;
    border: 0;
    box-shadow: rgba(1, 60, 136, .5) 0 -1px 3px 0 inset, rgba(0, 44, 97, .1) 0 3px 6px 0;
    cursor: pointer;
    display: inherit;
    line-height: 24px;
    margin: 0;
    padding: 0.2em;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.optionButton:hover {
    transform: translateY(-2px);
}

.edit {
    background-color: white;
}

.delete {
    background-color: rgb(255, 103, 103);
}

#create {
    margin: 1rem;
}

.optionCell {
    padding: 0;
    margin: 0;
    width: 0.5rem;
}

/* label{
    display: flex;
    flex-direction: column-reverse;
} */

#title {
    height: 10vh;
    width: 32.5vw;
    font-size: small;
    resize: both;
    margin-bottom: 5vh;

}

#descCol{
    height: 100%;
}

#description {
    float: right;
    height: 30vh;
    width: 20vw;
    font-size: small;
    resize: both;
    margin:auto;
    
}

#formFileSm {
    width: 50%;
}