.nav-link[aria-selected="true"] {
    background-color: rgba(255, 255, 255, 0) !important;
    border-color: rgb(255, 255, 255) !important;
    border-bottom: 0;
}

.nav-link[aria-selected="false"] {
    background-color: rgba(182, 182, 182, 0.337) !important;
}

.nav-tab {
    border-bottom: 0;
    width: 100%;
}

.tab-pane {
    height: 100%;
}

.tab-content {
    flex-grow: 1;
    height: 100%;
}

#myTabContent,
#anakoinwshContainer,
#draftContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;
}

#draftContainer{
    /* align-content: center; */
    justify-content: center;
    text-align: center;
}

#editor-container {
    display: flex;
    flex-grow: 1;
    min-height: 200px;
}

#innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    flex-grow: 1;
}

#savePresentation,
#generatePresentation {
    display: block;
    width: 1rem;
    border-radius: 30px;
    min-height: max-content;
    height: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-width: max-content;
    margin:1rem 0;
}

#gradeTable {
    border-radius: 12px;
    text-align: center;
    height: max-content;
    width: 100%;

}

#gradeTable.disabled * {
    background-color: rgba(200, 200, 200, 0.088) !important;
    color: rgba(97, 97, 97, 0.518) !important;
}


#enableButton {
    background-color: hsl(116, 82%, 56%);
}

#enableButton:focus,
#enableButton:hover {
    background-color: hsl(116, 82%, 40%);
}

.row {
    margin: 0;
}

#buttonRow {
    flex-grow: 1;
}

#pdfFrame {
    display: flex;
    flex-grow: 1;
}