#cancel, #eksetasi{
 box-sizing: border-box;
 width: 10rem;
 /* padding-left: 2.3rem; */
 /* vertical-align: center; */
 /* padding: 0.1rem 1rem; */
 padding-right: 1rem;
 padding-left: 1rem;
 text-align: center;
 display: block;
}

.cancelThesis{
  background-color: #ff1414;
}

.cancelThesis:hover{
  background-color: #ff1414;
}

#mainContainer {
    display: flex;
  }
  
  #innerContainer {
    height: 100%;
    width: 90%;
    padding: 0rem;
    display: flexbox;
    overflow-y: auto;
  }

