#cancel, #eksetasi{
 box-sizing: border-box;
 width: 10rem;
 /* padding-left: 2.3rem; */
 /* vertical-align: center; */
 /* padding: 0.1rem 1rem; */
 padding-right: 1rem;
 padding-left: 1rem;
 text-align: center;
 display: block;
}

.cancelThesis{
  background-color: #ff1414;
}

.cancelThesis:hover{
  background-color: #ff1414;
}

#notepad{
    border: 3px solid white ;
    border-radius: 12px;
    height: 30rem;
    width: 50%;
    position: relative;
    display: block;
    background-color: #f2f2f2b1;
    -webkit-box-shadow: inset -27px -12px 300px -54px rgba(191, 191, 191, 0.167);
  -moz-box-shadow: inset -27px -12px 300px -54px rgba(191, 191, 191, 0.142);
  box-shadow: inset -27px -12px 300px -54px rgba(180, 180, 180, 0.277)
    
}

.note{
  resize: vertical;
  flex-grow: 1;
}

#mainContainer {
    display: flex;
  }
  
  #innerContainer {
    height: 100%;
    width: 90%;
    padding: 0rem;
    display: flexbox;
    overflow-y: auto;
  }


  ol {
    counter-reset: note;
    padding-left: 0.4rem;
  }
  li{
    text-align: right;
    list-style: none;
    counter-increment: note;
    display: flex;
    align-items: flex-start;
    margin: 1rem;
  }



  li::before{
    content: counter(note)". ";
    margin-right: 0.2rem;
  }

  .noteWrapper{
    width: 100%;
  }



.button-6 {
  align-items: center;
 
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 100%;
}

.deleteNote{
  border-radius: 8px;
  transition: 0.1s ease-in-out;
}

.button-6:hover,
.button-6:focus,
.deleteNote:focus,
.deleteNote:hover{
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.411) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
  backdrop-filter:  blur(10px);
}

.button-6:hover, .deleteNote:hover {
  transform: translateY(-1px);
}

.button-6:active, .deleteNote:active{
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

#addIcon{
  height: 2rem;
}