


.header {
    position: relative;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

#websiteTitle a{
    color: black;
    text-decoration: none;
}





 /* small screen */
@media (max-width: 576px){
    #titleLabel{
        display: none;
    }
    
    .usermobileDropdown{
        display:list-item
    }

    #user{
        display: none;
    }

    #websiteTitle {
        padding-left: 0rem;
    }

    #userHeader {
        padding-right: 0rem;
    }
    
}

/* medium screen */
@media(min-width: 768px){
    #user{
        display: none;
    }
}
/* large screen */
@media(min-width: 992px){
    #titleLabel{
        font-size: large;

    }
    #websiteTitle {
        padding-left: 3rem;
    }
    

    #userHeader {
        padding-right: 2rem;
    }
    #user {
        /* background-color: aqua; */
    
        display: inline-flex;
        list-style-type: none;
    
        margin: 0;
        padding: 1rem;
        background-color: white;
        padding-right: 1rem;
        /* text-transform: uppercase; */
        font-weight: bold;
    
    }

    .usermobileDropdown{
        display:none;
    }
}




#account {
    display: relative;
    /* background-color: green; */
    max-width: max-content;
}





#dropdown-menu li a {
    background-color: #ffffff;
}


#accountButton{
    outline:none;
    border: none;
    /* background-color: yellow; */
    margin:0;
}

#circle{
    height: 3rem;
    transition: height 0.1s ease-in;
}
#circle:hover{
    height:3.2rem;
}
#circle:active{
    filter: drop-shadow(0px 3px 2px rgb(0 0 0 / 0.4));
}

#settings:hover {
    background-color: hsl(211, 100%, 50%);
    color: white;
}
#settings:active{
    background-color: hsl(211, 100%, 40%);
}

#logout:hover {
    background-color: hsl(0, 100%, 50%);
    color: white;
}

#logout:active{
    background-color: hsl(0, 100%, 40%);
}


