
.pageButton{
    display: inline-block;
    height: 6em;
    width: 15rem;
    min-width: 1rem;
    padding:1rem;
    margin: 1rem;
    font-size: large;
}

#innerContainer {
    align-items: center;
    justify-content:center;
    padding: 2rem;

    height: auto;
    width: auto;
   
    overflow-y: none;
  }