
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans';
}
html, body {
  margin: 0;
  padding: 0;
}

.background {
  position:  absolute;
  display:  block;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #f4e5e5;
} 

#header{

  position:relative;
  z-index: 1;
  
  background-color: #ffffff;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

#websiteTitle{
  text-align: left;
  margin-left:5vw;
}

#websiteTitle h1{
  font-size: 8vh;
}

#websiteTitle h3{
  font-size: 2vh;
}


#headerList{
  list-style-type:none;

}

#headerList li{
  /* float: right;   */
  display: inline-block;
}

#headerList a{
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

#headerList ul {
  background-color: #dddddd;
}

#accountCircle{
  display: block;
  margin: auto;
  height: 8rem;
  width: auto;
}

#loginError{

  text-align: center;
  color: red;
  font-size: large;
}

#loginForm {
  position: relative;
    z-index: 1;
    margin: auto;
    margin-top: 50%;

    background-color: #20272c28;

    padding-bottom: 2vh;
    width: 100%;
    min-width: 375px;
    height: max-content;
    backdrop-filter: blur(0.5rem);
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.468);
    
}

.loginText{
    display: flex;
    margin:auto;
    margin-top: 2vh;
    height: 6vh;
    text-align: center;
}


input{
  z-index: 1;
    background-color: #474747;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 12%;
    outline: 0;
    width: 80%;

    transition:border 0.1s ease-out;
}

input:focus{
  border: 3px solid aqua;


}
form button{
  display: flow-root;
  align-items: center;
  appearance: none;
  background-color: #5c5c5c;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#989898 0 -3px 0 inset;
  box-sizing: border-box;
  color: white;

  cursor: pointer;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 0.5rem 0.5rem;
  margin: auto;
  margin-top: 1rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

form button:focus {
  box-shadow:  rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #989898 0 -3px 0 inset;
}

form button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #989898 0 -3px 0 inset;
  transform: translateY(-2px);
}

form button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}