#calendar {
  position: relative;
  z-index: 1;
  height: 60vh;
  overflow-y: auto;
  overflow-x: auto;
  margin: 0 ;
  /* background-color: black; */
}


#calendarDiv {
  height: max-content;
}


#calendarDateGroup{
  margin: 1rem 0;
}

#mainContainer{
  /* padding: 0; */
  display: flex;
  flex-direction: row;
}
.row {
  flex-grow: 1;
  margin:0 !important;
  max-width: 100%;
}

/* only on large screen */
@media(min-width: 992px) {
  #loginDiv {
    padding: 0 3rem;
  }
}

@media(max-width: 992px) {
  #calendarDateGroup{
    width: 100%;
  }

  #calendar{
    margin-top: 2rem;
  }

  .exportButtons{
    margin-bottom: 1rem;
  }
}


/* ===== LOGIN ===== */
#accountCircle {
  display: block;
  margin: auto;
  height: 8rem;
  width: auto;
}

#loginError {

  text-align: center;
  color: red;
  font-size: large;
}

#loginForm {
  position: relative;
  z-index: 1;
  padding-bottom: 2vh;
  /* min-width: 375px; */
  height: max-content;
}

.loginText {
  display: flex;
  margin: auto;
  margin-top: 2vh;
  height: 6vh;
  text-align: center;
}


form button {
  display: flow-root;
  align-items: center;
  appearance: none;
  background-color: #5c5c5c;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #989898 0 -3px 0 inset;
  box-sizing: border-box;
  color: white;

  cursor: pointer;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 0.5rem 0.5rem;
  margin: auto;
  margin-top: 1rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

form button:focus {
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #989898 0 -3px 0 inset;
}

form button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #989898 0 -3px 0 inset;
  transform: translateY(-2px);
}

form button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}