#mainContainer {
    display: flex;
  }
  
  #innerContainer {
    height: 100%;
    width: 90%;
    padding: 0rem;
    display: flexbox;
    overflow-y: auto;
  }

  #thesisTable{
    width: 100%;
  }

  tr {
    text-align: center;
  }