.epitrophInput {
  height: 2rem;
  width: 10rem;
}


/* #titleDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
} */


#fullEpitroph {
  position: relative;
}

#epitroph {
  /* height: 5rem; */
  /* background-color: yellow; */
  /* padding-left: 2rem;; */
  list-style: none;
  width: 20rem;
  position: relative;
}

#firstEpitroph {
  margin-left: 3rem;
  width: max-content;

  &:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 5rem;
    /* left:4rem; */
    margin-left: 1rem;
    border-right: 2px dashed black;
  }
}

#epitroph li {
  width: max-content;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  left: 5rem;

  &:before {
    content: "";
    position: absolute;
    border-top: 2px dashed black;
    width: 3rem;
    left: -3rem;
    top: 0.9rem;
  }
}

h4 {
  text-align: center;
  margin-top: 1rem;
}

.tableWrapper {
  border: 3px solid white;
  border-radius: 12px;
  height: 15rem;
  width: 90%;
  position: relative;
  display: block;
  background-color: #f2f2f2b1;
  -webkit-box-shadow: inset -27px -12px 300px -54px rgba(191, 191, 191, 0.167);
  -moz-box-shadow: inset -27px -12px 300px -54px rgba(191, 191, 191, 0.142);
  box-shadow: inset -27px -12px 300px -54px rgba(180, 180, 180, 0.277);
  overflow-y: auto;
}

table {
  max-height: 100%;
}
tr {
  text-align: center;
}

#studentInput {
  width: 60%;
  text-align: center;
  height: 2rem;
}

#titleInput {
  width: 75%;
  overflow: auto;
}
#descriptionInput {
  width: 75%;
  overflow: auto;
  height: 7rem;
}

button {
  float: right;
  margin-left: 1rem;
}

p {
  width: max-content;
}

#desc,
#grade,
#library {
  display: flex;

}

.optionButton {
  height: 2rem;
  margin-left: 1rem;
}

#manageButton {
  margin-top: 2rem;
}