@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans';
}

html,
body {
    height: 100%;
    width: 100%;
}


.background {
    position: absolute;
    z-index: -1;
    display: block;
    top: 0;
    left: 0;

    background-color: #DCDCDC;
    width: 100%;
}

#mainContainer {
    height: 86%;
  }
#innerContainer{
    margin:0;
    margin-top: 1rem;
}
.buttonWindow{
    height: 50%;
}

.box {

    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.darkbox {
    background: rgba(128, 128, 128, 0.5);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.defaultInput{
  z-index: 1;
  background-color: #eaeaea;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #000000;
  font-size: 18px;
  height: 12%;
  outline: 0;
  width: 80%;

  transition: border 0.1s ease-out;
}

.darkInput {
    z-index: 1;
    background-color: #474747;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 12%;
    outline: 0;
    width: 80%;

    transition: border 0.1s ease-out;
}

.darkInput:focus, .defaultInput:focus {
    border: 3px solid aqua;
}



.pageButton {
    background-color: #0a6bff;
    border-radius: 4px;
    border: 0;
    box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inherit;
    /* font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    min-height: 56px;
    min-width: 120px;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
  }
  
  .pageButton:hover {
    background-color: #065dd8;
    transform: translateY(-2px);
  }
  
  @media (min-width: 768px) {
    .pageButton {
      padding: 16px 44px;
      min-width: 150px;
    }
  }



  .optionButton {
    background-color: #0a6bff;
    border-radius: 4px;
    border: 0;
    box-shadow: rgba(1, 60, 136, .5) 0 -1px 3px 0 inset, rgba(0, 44, 97, .1) 0 3px 6px 0;
    cursor: pointer;
    display: inherit;
    line-height: 24px;
    margin: 0;
    padding: 0.2em;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.optionButton:hover {
    transform: translateY(-2px);
}

.edit {
    background-color: white;
}

.delete {
    background-color: rgb(255, 103, 103);
}

#create {
    margin: 1rem;
}

.optionCell {
    padding: 0;
    margin: 0;
    width: 0.5rem;
}
